<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="well.position.column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="well.position.column" type="xstring" value="Metadata_Well"/>
<config key="convert.row.characters_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="convert.row.characters" type="xboolean" value="true"/>
<config key="delete.source.column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="delete.source.column" type="xboolean" value="false"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="de.mpicbg.knime.hcs.base.nodes.layout.ExpandWellPositionFactory"/>
<entry key="node-name" type="xstring" value="Expand Well Position"/>
<entry key="node-bundle-name" type="xstring" value="HCS-Tools for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="de.mpicbg.knime.hcs.base"/>
<entry key="node-bundle-vendor" type="xstring" value="Max Planck Institute of Molecular Cell Biology and Genetics (MPI-CBG)"/>
<entry key="node-bundle-version" type="xstring" value="3.1.101.v201604271109"/>
<entry key="node-feature-name" type="xstring" value="KNIME HCS Tools"/>
<entry key="node-feature-symbolic-name" type="xstring" value="de.mpicbg.tds.knime.hcstools.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="Max Planck Institute of Molecular Cell Biology and Genetics (MPI-CBG)"/>
<entry key="node-feature-version" type="xstring" value="3.1.101.v201604271109"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Expand Well Position"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 2758040, Cols: 5"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="1710feac-25c2-4735-bcd6-91987e0e2d29"/>
</config>
</config>
